<template name="message">
	<div class="well">
	<h4>
        <span class="author">{{author}}</span>
        <span class="author"><small>(<a href="mailto:{{email}}" target="_top">{{email}}</a>)</small></span>
        <small><span class="date">on {{submittedText}}</span></small>
	</h4>
	<p>{{body}}</p>
	{{#if currentUser}}
		<div class="pull-right">
			<a href="" title="Delete message" class="delete-message">
				<span class="label label-danger">
					Delete
				</span>
			</a>
		</div>
		<br/>
	{{/if}}
</template>