<template name="contact">
	<div class="well">
    	<h1>Hello!</h1>
    	<p>If you would like to send me a message please use the form bellow. In order to get a reply make sure that the topic is of interest, according to the topics I write about.</p>
    	<div>
    		 <p class="contact-warning">Do not send me messages about commercial products or services.</p>
		 </div>
	</div>
	<div class="well">
        <h4>Message:</h4>
        <form role="form">
          <div class="form-group">
          	<div class="input-group margin-bottom-sm">
          		<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
      			  <input class="form-control col-lg-10" id="author" name="author" style="width: 250px;" type="text" placeholder="Name">
        	 </div>
          </div>
          <div class="form-group">
            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
              <input class="form-control col-lg-10" id="email" name="email" style="width: 250px;" type="text" placeholder="Email">
           </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" id="body" name="body" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-default" placeholder="Submit">Submit</button>
        </form>
      </div>
</template>